/*  Code Institute's Milestone Project 1: Build a Static Website. 
    Author: Alexis Van Espen. 
*/

/*  Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nanum+Gothic:wght@400;700;800&display=swap');

/*  Initialize attributes (namely to anticipate responsive layout). 
    Inspired by, then adapted from, Clarissa Peterson's Responsive Layout course on LinkedIn Learning (https://www.linkedin.com/learning/responsive-layout/). 
*/
html {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 100vh;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/*  Design mobile-first. Simple stack of columns. */
body {
    margin: 5px;
    padding: 5px;
}
header {
    display:flex;
    flex-direction: column;
}
header#logo {
    background-color: #009900;
}
#logo img {
}
#title h1, h2 {
    background-color: #005B00;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0.5em;
    text-align: center;
}
#title h1 {
    font-size: 200%;
}
#title h2 {
    font-size: 100%;
}
nav {
    background-color: #BF5700;
}
main {
    background-color: #BF0000;
}
footer {
    background-color: #007373;
}

/*  Cards. */
.card {
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "card-image card-text"
        "card-image card-text"
        ;
}

/*  Adjust grid layout at different breakpoints. */

@media screen and (min-width: 700px) {
    body {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            "header header"
            "nav    main"
            "footer footer"                
            ;
    }
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
}

@supports (grid-area: auto) {

}
