/*  Jesperanto! Esperanto in a nutshell. 
    Author: Alexis Van Espen.

    –––––––––––-––– II. COMPONENTS –––––––––––––––
    Load styles.css first.
*/

/*  –––––––––––-––– doctor-zam ––––––––––––––– */
.doctor-zam {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 4em;
}
.doctor-zam p {
    background-color: #fff;
    border-color: #fff;
    border-radius: 10%;
    padding: 1em;
    margin-bottom: -0.2em;
    width: 100%;
}
.doctor-zam img {
    width: 50%;
}
