/*  Jesperanto! Esperanto in a nutshell. 
    Author: Alexis Van Espen.

    –––––––––––-––– MAIN STYLE SHEET : desktop first –––––––––––––––
*/

/*  Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

/*  My own :root variables. */
:root {
    --font-family-1: "Nanum Gothic", "Segoe UI", "Helvetica Neue", sans-serif;
    --font-family-2: "Montserrat", "Segoe UI", "Helvetica Neue", sans-serif;
    --font-family-3: "Bad Script", cursive;

    /*  Colour scheme. */
    --colour-01: #009900;
    --colour-02: #37c637;
    --colour-03: #09c109;
    --colour-04: #ffecde;
    --colour-05: #f5fafa;
    --colour-06: #d2ebeb;
    --colour-07: #007373;
    --colour-08: #bf5700;
    --colour-09: #bf0000;
    --colour-10: #7f6000;
    --colour-11: #005b00;
    --colour-12: #f2f2f2;

    /*  Colour scheme : gradients (b means begin) */
    --colour-10-grad-1b: rgba(127, 96, 0, 0.25);
}

/*  ---------------- Credits ----------------
    Credit for the box-shadow definition. Thanks to w3schools : 
    https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5.
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/

/*  Initialize attributes. 
    Adapted from Clarissa Peterson's Responsive Layout course on LinkedIn Learning. 
*/
html {
    box-sizing: border-box;
    min-height: 100vh;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    font-family: var(--font-family-1);
    width: 1200px;
    margin: 1em auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-2);
    font-weight: 400;
}
a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
}

/*  –––––––––––-––– HEADER ––––––––––––––– */
header {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    overflow: hidden;
    height: 70vh;
}
header#homepage {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 90vh;
}

/*  –––––––––––-––– HEADER : banner ––––––––––––––– */
header img {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    z-index: -1;
}
header#homepage img {
    animation: header-image 5s;
    animation-fill-mode: backwards; 
}
@keyframes header-image {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

/*  –––––––––––-––– HEADER : logo ––––––––––––––– */
header h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: linear-gradient(to bottom right, var(--colour-01) 20%, #fff 100%);
    text-align: center;
    padding: 0.5em;
}

/*  –––––––––––-––– HEADER : navigation ––––––––––––––– */
header nav {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
header nav a {
    padding: 1.5em 1em;
}
header nav a:nth-child(4n) {
    background-color: var(--colour-09);
}
header nav a:nth-child(4n+1) {
    background-color: var(--colour-01);
}
header nav a:nth-child(4n+2) {
    background-color: var(--colour-07);
}
header nav a:nth-child(4n+3) {
    background-color: var(--colour-08);
}

/*  –––––––––––-––– FOOTER ––––––––––––––– */
footer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colour-11);
    color: #fff;
    padding: 1em;
}
footer img {
    border-radius: 50%;
    width: 75%;
}
footer div {
    display: flex;
    flex-flow: row wrap;
}
footer div img {
    padding-bottom: 0.5em;
    width: 50%;
}

/*  –––––––––––-––– MAIN ––––––––––––––– */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section, article {
    padding: 0.7em;
}
article * {
    padding: 0.4em;
}

/*  –––––––––––-––– MAIN : doctor-explains ––––––––––––––– */
.doctor-explains {
    background-color: var(--colour-04);
    width: 33%;
}

/*  –––––––––––-––– MAIN : doctor-slides ––––––––––––––– */
.doctor-slides {
    background-color: var(--colour-05);
    width: 67%;
}

/*  –––––––––––-––– doctor-zam ––––––––––––––– */
.doctor-zam {
    display: flex;
    flex-flow: column nowrap;
}
.doctor-zam .speech-zam {
    font-family: var(--font-family-3);
    background-color: #fff;
    border-radius: 5%;
}
.doctor-zam .picture-zam {
    background: url('../images/doctor_zam.svg') no-repeat center bottom;
    background-size: 50%;
    height: 12em;
}

/*  –––––––––––-––– message-zam ––––––––––––––– */
.message-zam {
    color: var(--colour-10);
    font-family: var(--font-family-3);
    text-align: center;
    font-size: 150%;
}

/*  –––––––––––-––– figure ––––––––––––––– */
.figure {
    display: flex;
    flex-flow: column wrap;
}
.figure img {
    /*  box-shadow definition taken from w3schools */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.figure figcaption {
}

/*  –––––––––––-––– cards-deck-1 ––––––––––––––– */
.cards-deck-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.cards-deck-1 > div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "picture    title"
        "picture    text"
        ;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1em;
    /*  box-shadow definition taken from w3schools */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2em 1em;
}
.cards-deck-1 > div img {
    grid-area: picture;
}
.cards-deck-1 > div h2 {
    grid-area: title;
    align-self: flex-end;
}
.cards-deck-1 > div p {
    grid-area: text;
    align-self: flex-start;
}
.cards-deck-1 > div:nth-child(odd) {
    transform: rotate(-5deg);
}
.cards-deck-1 > div:nth-child(even) {
    transform: rotate(5deg);
}

/*  –––––––––––-––– card-video-iframe ––––––––––––––– */
.card-video-iframe {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.card-video-iframe iframe {
    /*  box-shadow definition taken from w3schools */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 25em;
}

/*  –––––––––––-––– timeline ––––––––––––––– */
.timeline {

}
.timeline > div {
    min-height: 12em;
}
.timeline > div:nth-of-type(odd) {
    background: linear-gradient(to right, var(--colour-10-grad-1b), var(--colour-05));
}
.timeline > div:nth-of-type(even) {
    background: linear-gradient(to left, var(--colour-10-grad-1b), var(--colour-05));
}
