/*  Jesperanto! Esperanto in a nutshell. 
    Author: Alexis Van Espen.

    –––––––––––-––– II. COMPONENTS –––––––––––––––
    Load styles.css first.
*/

/*  –––––––––––-––– doctor-zam ––––––––––––––– */
.doctor-zam {
    background: url('../images/doctor_zam.svg') no-repeat center bottom;
    background-size: 50%;
    height: 17em;
}
.doctor-zam p {
    font-family: var(--font-family-3);
    background-color: #fff;
    border-radius: 5%;
    padding: 1em;
}

/*  –––––––––––-––– message-zam ––––––––––––––– */
.message-zam {
    color: var(--colour-10);
    font-family: var(--font-family-3);
    text-align: center;
    font-size: 150%;
    padding: 1em;
}

/*  –––––––––––-––– cards-deck-1 ––––––––––––––– */
.cards-deck-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.cards-deck-1 > div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "picture    title"
        "picture    text"
        ;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1em;
    /*  box-shadow definition taken from w3schools : 
        https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin: 2em 1em;
}
.cards-deck-1 > div img {
    grid-area: picture;
}
.cards-deck-1 > div h2 {
    grid-area: title;
    align-self: flex-end;
}
.cards-deck-1 > div p {
    grid-area: text;
    align-self: flex-start;
}
.cards-deck-1 > div:nth-child(odd) {
    transform: rotate(-5deg);
}
.cards-deck-1 > div:nth-child(even) {
    transform: rotate(5deg);
}

/*  –––––––––––-––– card-video-iframe ––––––––––––––– */
.card-video-iframe {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.card-video-iframe iframe {
    /*  box-shadow definition taken from w3schools : 
    https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 25em;
}
.card-video-iframe div {
    padding: 1em;
}