/*  Jesperanto! Esperanto in a nutshell. 
    Author: Alexis Van Espen.

    –––––––––––-––– II. COMPONENTS –––––––––––––––
    Load styles.css first.
*/

/*  –––––––––––-––– doctor-zam ––––––––––––––– */
.doctor-zam {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 4em;
}
.doctor-zam p {
    background-color: #fff;
    border-color: #fff;
    border-radius: 10%;
    padding: 1em;
    margin-bottom: -0.4em;
    width: 100%;
}
.doctor-zam img {
    width: 50%;
}

/*  –––––––––––-––– cards-deck-1 ––––––––––––––– */
.cards-deck-1 > div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "picture    title"
        "picture    text"
        ;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1em;

    /*  box-shadow definition taken from w3schools : 
        https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 1em;
    margin: 2em 1em;
    height: 8em;
    width: 80%;
}
.cards-deck-1 > div img {
    grid-area: picture;
}
.cards-deck-1 > div h2 {
    grid-area: title;
}
.cards-deck-1 > div p {
    grid-area: text;
}
.cards-deck-1 > div:nth-child(odd) {
    transform: rotate(-5deg);
}
.cards-deck-1 > div:nth-child(even) {
    transform: rotate(5deg);
}

/*  –––––––––––-––– card-video ––––––––––––––– */
.card-video {
    padding: 1em;
    margin: 2em 1em;
    height: 16em;
}