/*  Code Institute's Milestone Project 1: Build a Static Website. 
    Author: Alexis Van Espen. 
*/

/*  Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/*  Initialize attributes for responsive layout. 
    Adapted from Clarissa Peterson's Responsive Layout course on LinkedIn Learning (https://www.linkedin.com/learning/responsive-layout/). 
*/
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
img {
	max-width: 100%;
    margin: auto;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*  Create grid, mobile-first (max-width: 576px). */
#container {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-areas: 
    /* 1 */    "header"
    /* 2 */    "nav"
    /* 3 */    "content"
    /* 4 */    "footer"                
    ;
    min-height: 95vh;
}
header {
    grid-area: header;
    min-height: 50vh;
    background-image: url('/images/esperanto_flags_blue_sky.png');
    background-size: cover;
    /* background-color: #710000; */
}
#banner {

}
nav {
    grid-area: nav;
    background-color: #BF5700;
}
#content {
    grid-area: content;
    background-color: #BF0000;
}
footer {
    grid-area: footer;
    background-color: #007373;
}

/*  Adjust grid layout at different breakpoints. */

/*  Small. */
@media (min-width: 576px) {
    #container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        /* 1 */    "header"
        /* 2 */    "nav"
        /* 3 */    "content"
        /* 4 */    "footer"                
        ;
        min-height: 95vh;
    }
}

/*  Medium. */
@media (min-width: 768px) {
    #container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        /* 1 */    "header"
        /* 2 */    "nav"
        /* 3 */    "content"
        /* 4 */    "footer"                
        ;
        min-height: 95vh;
    }
}

/*  Large. */
@media (min-width: 992px) {
    #container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        /* 1 */    "header  header"
        /* 2 */    "nav     content"
        /* 3 */    "footer  footer"                
        ;
        min-height: 95vh;
    }
}

/*  Extra-large. */
@media (min-width: 1200px) {
    #container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        /* 1 */    "header  header"
        /* 2 */    "nav     content"
        /* 3 */    "footer  footer"                
        ;
        min-height: 95vh;
    }
}
