/*  Code Institute's Milestone Project 1: Build a Static Website. 
    Author: Alexis Van Espen. 
*/

/*  Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nanum+Gothic:wght@400;700;800&display=swap');


/*  My own :root variables. */
:root {
    --font-family-1: "Nanum Gothic", "Segoe UI", "Helvetica Neue", sans-serif;
    --font-family-2: "Montserrat", "Segoe UI", "Helvetica Neue", sans-serif;

    /*  Colour scheme. */
    ––colour-01: #009900;
    ––colour-02: #37c637;
    ––colour-03: #09c109;
    ––colour-04: #ffecde;
    ––colour-05: #f5fafa;
    ––colour-06: #d2ebeb;
    ––colour-07: #007373;
    ––colour-08: #bf5700;
    ––colour-09: #bf0000;
    ––colour-10: #7f6000;
    ––colour-11: #005b00;
    ––colour-12: #f2f2f2;
}

body {
    font-family: var(--font-family-1);
    width: 1000px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(––font-family-2);
}

/*  –––––––––––-––– Header ––––––––––––––– */
#logo {
    background-color: linear-gradient(var(––colour-01));
}